<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/cont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logInController</display-name>
    <servlet-name>logInController</servlet-name>
    <servlet-class>controller.logInController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logInController</servlet-name>
    <url-pattern>/logIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyController</display-name>
    <servlet-name>CompanyController</servlet-name>
    <servlet-class>controller.CompanyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyController</servlet-name>
    <url-pattern>/comp</url-pattern>
  </servlet-mapping>
</web-app>